

a {color:inherit;
text-decoration: bold;} 

header {
   text-align: center;
   min-height: 300px;
   margin-left:3%;
   margin-right:3%;
}

.orderbanner {
    font-family: 'Abel', sans-serif;
    font-size: 12pt;
    color:black;
    padding:12px;
    align-content: center;
    display: inline-block;
    width:100%;
    background-color;
}

.logo {
    height: 110px;
    text-align: center;
}

.image {
    max-height: 130%; 
}

.postagebanner {
height: 20px;
}

.title {
    font-family:'Abel', sans-serif;
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10pt;
    color: black;
    margin-bottom: 10px;
}

.tagline {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F0E7D4;
    padding: 10px;
    width: 200px;
    border-radius: 6px;
    display: inline-block;
    justify-content: center;
    font-size: 18px;
    margin-top: 50px;
}

.orderpage {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    padding: 3px;
    color: white;
    width: 100px;
    border-radius: 6px;
    display: inline-block;
    justify-content: center;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.browsepage {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: black;
    text-align: center;
    display:inline-block;
    margin-bottom: 20px;
    width:100%;
    max-width: 700px;
}

.titleunder {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 25px;
}

/////titleunder2 {
    font-family: 'Abel', sans-serif;
    font-size: 12pt;
    text-align: center;
    display: inline-block;
    margin-top: 0pt;
    background-color:#F0E7D4;
    margin-bottom: 10px;
    width: 120px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    opacity: 0.7;
    transition: 0.3s;
    margin-top: 10px;
}

.howtoorder {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: black;
    text-align: center;
    display:inline-block;
    margin-bottom: 20px;
    width:100%;
    max-width: 700px;
}

.productdetails {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: :black;
    max-width: 700px;
    display: flex;
    text-align: center;
    display: inline-block;
    width:100%;
}

.deliveryoptions {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: :black;
}

.toyou, .tothem {
    width: 400px;
}

.or {
    width:20px;
    margin-left: 20px;
    background-color: #F0E7D4;
    padding: 10px;
    border-radius: 50px;
    max-height: 20px;
}

.flexcontainerE {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.flexcontainerG {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.orderdetails2 {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #F0E7D4;
    margin-top: 40px;
}

.post {
margin-left: 30px;
}

.delivery {
    font-family:'Abel', sans-serif;
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

.price {
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    align-content: center;
    color: black;
    justify-content: center;
    align-items: center;
    text-decoration: italic;
    margin-bottom: 20px;
    background-color:white;
}

.gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}

@media (max-width: 400px) {
    .gallery {
      display: block;
    }
  }


.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 12;
}

.gallery__item--6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 12;
}

.gallery__item--7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 12;
}

.gallery__item--8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 12;
}

.gallery__item--9 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 18;
}

.gallery__item--10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 13;
    grid-row-end: 18;
}

.gallery__item--11 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 13;
    grid-row-end: 18;
}

.gallery__item--12 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 18;
}

.gallery__item {
    font-family: 'Abel', sans-serif;
    font-size: 10pt;
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.Commissions {
    font-family:'Abel', sans-serif;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20pt;
    color: black;
    margin-bottom: 15px;
}

.Instagram_Text {
    margin-right: 9px;
    margin-top:20px;
    margin-bottom: 20px;
}

.Instagram_Link {
    margin-top: 10px;
    margin-right: 20px;
}

.Email_Link {
    margin-top: 12px;
    margin-right: 25px;
}

.Email_Text {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 8px;
}

.Paypal_Text {
    margin-top: 20px;
    margin-bottom: 20px;
}

  .commissionbottom {
    font-family:'Pacifico', cursive;
    font-size: 14pt;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    margin-top: 5px;
  }


.flexContainerC {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Abel', sans-serif;
    font-size: 12pt;
    color: black;
    display: inline-flex;
}

.flexContainerD {
    width:100%;
    margin-top: 20px;
}

.flexContainerF {
    width:100%;
    margin-top: 20px;
}
